---
import Sketch from '../components/Sketch.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sketches</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <h1>Sketches</h1>
            </div>
        </header>

        <Sketch date="August 2021" file="/assets/logo.svg" title="Sample sketch" />

        <Sketch date="August 2021" file="/assets/logo.svg" title="Sample sketch" />
    </main>
</body>
</html>
